* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    
    
.header-row {
    width: 100%;
    height: 8.3vh;
    display: flex;
    border-bottom: #d6dee2;
    border-top: #d6dee2;
    border-width: thin;
    border-style: solid;
}

.icons-left {
    width: 20%;
    color: #000000;
    font-size: 23px;
}

.icons-left-type {
    list-style: none;
    padding-top: 15px;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;    
    gap: 15px;
}

.wordle {
    width: 75%;
    padding-top: 9px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    font-size: 35px;
    line-height: 30px;
    letter-spacing: -2px;
}

.icons-right {
    width: 20%;
    color: #000000;
    font-size: 23px;
}

.icons-right-type {
    list-style: none;
    padding-top: 15px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

main {
    width: auto;
    height: 92vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 11px;
    gap: 5px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: #000;
}

.board-row {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.br__cell {
    width: 54px;
    height: 54px;
    border-width: 2px;
    border-style: solid;
    border-color: #d6dee2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.br__cell--position {
    border: 2px solid #d8ce42;
    background-color: #d8ce42;
    color: #ffffff;
}

.br__cell--right {
    border: 2px solid #468f4c;
    background-color: #468f4c;
    color: #ffffff;
}

.br__cell--wrong {
    border: 2px solid #808080;
    background-color: #808080;
    color: #ffffff;
}

.keyboard {
    width: 100%;
    height: 50vh;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    font-size: 13.3px;
    font-weight: semi-bold;
    position: fixed;
    top: 420px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 7px; 
}

.key-cell {
    width: 41px;
    height: 59px;
    border-width: 2px;
    border-style: solid;
    border-color: #d6dee2;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d6dee2;
}

.key-cell-enter, .key-cell-del {
    width: 61px;
    height: 59px;
    border-width: 2px;
    border-style: solid;
    border-color: #d6dee2;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d6dee2;
    font-size: 12px;
}

#backspace {
    font-size: 25px;
    color:inherit;
}

